{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}


{{ define "main" }}
<!-- list template -->
<div>

  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ range .Paginator.Pages }}
    <!-- single page card -->
    <!-- {{ partial "eyecatch_image.html" . }} -->
    {{ partial "card.page.html" . }}
  {{ end }}

  <!-- paginator nav -->
  {{ partial "paginator.html" . }}


</div>

{{ end }}


{{ define "side" }}
  <!-- サイドバーにはタグとカテゴリー表示はやめる -->
  <!-- {{ partial "side.taxonomy.html" . }} -->
{{ end }}
